ul.spot-list {
  width: 80%;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 30px;
  align-items: center;
}


ul.spot-list li {
  display: flex;
  flex-direction: column;

}

ul.spot-list li header {
  width: 100%;
  height: 250px;
  background-size: cover;
  border-radius: 4px;
}

ul.spot-list li strong {
  margin-top: 10px;
  font-size: 16px;
  color: #444;
}
ul.spot-list li h5{
  margin-top: 10px;
  font-size: 16px;
  color: #444;
  text-decoration: line-through;
}


ul.spot-list li span {
  font-size: 16px;
  color: #999;
  text-align: justify;
}


